
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

body {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    color: #000;
}

a {
    color: inherit;
    text-decoration: none;
    -o-transition: color 0.2s ease-in;
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

a:hover {
    color: #009fb7
}

img {
    vertical-align: middle;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: table;
}

main {
    margin: 47px auto;
    min-height: 65vh;
}

.container {
    position: relative;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.formControl {
    width: 100%;
    padding: 4px 10px;
    font-size: 14px;
    height: 34px;
    line-height: 1.43;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*  form  */
.formGroup {
    margin-bottom:15px
}

.btnItem {
    margin-left: 24px
}

.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

/*  btn  */

.btn {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btnPrimary {
    composes: btn;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btnPrimary.focus, 
.btnPrimary:focus, 
.btnPrimary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}

.btnPrimary.active, 
.btnPrimary:active {
    color: #fff;
    background-color: #025aa5;
    background-image: none;
    border-color: #01549b;
}

.btnPrimary.active.focus, .btnPrimary.active:focus, .btnPrimary.active:hover, .btnPrimary:active.focus, .btnPrimary:active:focus, .btnPrimary:active:hover {
    color: #fff;
    background-color: #014682;
    border-color: #01315a;
}

.btnSecondary {
    composes: btn;
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
}

.btnSecondary.focus, 
.btnSecondary:focus, 
.btnSecondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btnSecondary.active, 
.btnSecondary:active {
    color: #373a3c;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}

.btnSecondary.active.focus, .btnSecondary.active:focus, .btnSecondary.active:hover, .btnSecondary:active.focus, .btnSecondary:active:focus, .btnSecondary:active:hover {
    color: #373a3c;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btnSuccess {
    composes: btn;
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btnSuccess.focus, 
.btnSuccess:focus, 
.btnSuccess:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}

.btnSuccess.active, 
.btnSuccess:active {
    color: #fff;
    background-color: #449d44;
    background-image: none;
    border-color: #419641;
}

.btnSuccess.active.focus, .btnSuccess.active:focus, .btnSuccess.active:hover, .btnSuccess:active.focus, .btnSuccess:active:focus, .btnSuccess:active:hover {
    color: #fff;
    background-color: #398439;
    border-color: #2d672d;
}

.backTop {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    display: none;
    cursor: pointer;
    background-color: transparent;
    color: #878e9a;
    font-size: 2.2rem;
    z-index: 99;
}

.backTop img {
    width: 100%;
    height: auto;
}


@media (min-width: 1200px) {
    .container {
        max-width: 780px;
    }
}

 @media (min-width: 992px) {
    .container {
        max-width: 640px;
    }
} 

