.item {
    border-bottom: 1px solid #f1f5f6;
    padding: 6px 0;
}

.title {
    font-weight: bold;
    letter-spacing: .5px;
}

.item strong {
    color: #009fb7;
}

.meta {
    composes: clearfix from './Common.css';
    
    font-family: Georgia, serif;
    line-height: 22px;
    font-size: 13px;
}

.metaItem {
    display: inline-block;
    margin-right: 18px;
    color: #666;
}

.metaItem:last-child {
    margin-right: 0;
}

.metaItem a {
    color: #222;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 1px;
}

.metaItem a:hover {
    color: #009fb7
}

.metaItem .tag {
    margin-right: 5px;
}

.metaItem .author {
    margin-right: 6px;
    border-bottom: none;
}

.metaItem .author img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.desc {
    margin-top: 8px;
    color: #666;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rdobox, .chkbox {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    background: #eee;
    color: #666;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    transition: .1s background linear;
}

.chkboxActive {
    composes: chkbox;
    background-color: #14c8e4;
    color: #fff;
}
/* .date {
    float: right;
    color: #a7b1c2;
    font: 500 normal 16px/32px Droid Serif,Times New Roman,PingFang SC,Hiragino Sans GB,Droid Sans Fallback,Microsoft YaHei,serif
} */